body {
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    margin:0px;
    padding:0px;
    color:white;
    background-color:#171923;
}

.theme-bg   {
    background-color:#facc15;
}

.theme-color,theme-text,h3, h2.theme-text
{
    color:#facc15;
}

.left-bar{
    padding-top:18%;
    border-right:1px solid #d7d7d7;
}

.button-version {
    color: black;
}

.button-version:hover {
    background-color:#eab308;

}